In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
from sklearn import datasets
X,y= datasets.make_classification(n_samples=10**3, n_features = 10, random_state=90757)

In [5]:
print(X,y)

[[-1.75422217  1.03552672 -0.59736401 ...  0.41660183  1.43869488
  -1.10409457]
 [-1.97665629  1.90617851 -0.9138761  ... -0.39770855  0.79063825
  -1.24571092]
 [-0.26386451  1.2669321  -0.1746632  ... -1.35701692 -0.82069566
  -0.17350596]
 ...
 [-1.16262748 -1.00504596 -1.90916831 ... -0.55419011  1.62796403
  -1.53514257]
 [-0.31794556 -0.95759604  0.18087131 ... -1.71516419  0.38621057
   1.64338102]
 [-0.00389653 -1.48476523 -0.16840144 ...  0.81262896  0.32626072
  -0.25884861]] [0 0 1 0 0 0 0 1 1 1 1 1 1 0 0 1 0 0 0 1 1 1 0 1 0 1 1 1 1 1 0 0 0 1 1 1 0
 1 1 1 1 1 0 0 1 0 0 0 1 0 0 0 0 1 1 1 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0
 0 1 1 1 0 0 0 1 1 1 0 1 0 1 0 0 0 0 1 1 0 0 1 0 1 1 1 1 0 1 1 1 1 0 1 0 1
 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 1 1 1 0 0 1 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1
 1 1 0 1 1 0 1 1 0 1 0 1 1 0 0 0 0 1 1 0 1 0 1 1 0 1 0 0 1 1 1 1 0 0 0 1 0
 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1 0 1 1 1 1 0 1 0 1 0 0 1 1
 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 1 0 1 0 1 0 0 1 0 1 0 1 0 0 1 1 0 1 1
 0 1 1 1 0 0 0 1 0 1 0 1 1 1 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 1 1 0 1
 1 1 1 1 1 0 1 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1
 0 1 1 0 0 0 1 1 1 0 1 1 0 1 1 1 1 1 0 0 1 0 1 0 1 0 0 0 1 0 0 1 1 1 1 0 0
 1 0 0 0 0 0 0 0 1 0 1 0 1 1 1 0 0 0 1 1 1 1 1 1 1 0 1 0 0 0 1 1 0 0 0 1 0
 0 1 0 1 1 1 1 1 0 0 0 0 1 1 1 1 1 0 0 0 1 1 0 1 0 0 1 0 1 1 1 1 0 1 0 0 1
 0 1 1 1 1 1 0 1 1 1 0 1 1 0 0 0 1 0 0 0 0 0 1 1 0 1 1 0 1 0 1 0 0 0 1 1 1
 1 1 0 1 1 0 1 1 1 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 1 0 1 0 1 0 0 0 1 1
 0 0 1 1 1 1 1 1 1 0 0 1 0 0 0 1 1 0 0 1 1 0 1 0 0 0 1 0 1 0 0 1 1 0 1 0 1
 1 1 0 0 1 1 0 1 0 1 0 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0
 0 1 0 0 1 0 0 1 1 1 0 1 0 1 1 1 0 1 1 1 1 1 0 0 0 1 0 1 0 0 1 0 0 0 0 0 1
 1 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 1 1 0 0 0 1 1
 1 0 1 1 0 0 0 1 0 0 0 1 0 1 0 0 1 1 1 1 0 0 1 1 0 0 0 1 0 1 0 1 1 0 0 0 1
 1 0 1 1 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1 1
 0 0 1 0 1 1 1 0 1 1 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 0 1 1 1 1 1 1 1
 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 1 1 1 0 1 0 1 0 1 0 0 0 1 1
 1 0 1 1 0 1 1 1 1 0 1 1 1 0 0 1 0 1 1 1 1 0 1 1 0 0 0 1 0 0 1 1 0 0 0 0 0
 1 1 0 1 0 1 0 0 1 1 1 0 0 1 0 0 1 1 0 0 1 1 1 0 1 1 1 1 0 0 1 1 0 1 0 0 1
 1 1 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0 1 0 1 1 1 0 0 0 1 1 0 0 1 0 0 0 1 1 1 0
 0 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 1 1 1 0 1 1 0 1 1 1
 1 1 1 0 1 0 1 0 1 0 1 1 1 1 1 1 0 0 1 1 0 1 0 0 0 1 1 0 0 1 0 1 0 0 0 0 1
 0]

In [7]:
X=pd.DataFrame(X)

In [8]:
X.head(6)

,0,1,2,3,4,5,6,7,8,9
0,-1.754222,1.035527,-0.597364,-0.507147,-0.642944,3.174963,-1.649596,0.416602,1.438695,-1.104095
1,-1.976656,1.906179,-0.913876,-0.923266,-0.529817,3.227348,-1.492926,-0.397709,0.790638,-1.245711
2,-0.263865,1.266932,-0.174663,-0.637482,0.610045,0.354211,-0.119261,-1.357017,-0.820696,-0.173506
3,-3.051481,0.617023,-1.433394,1.613286,0.164168,4.949389,-2.270392,0.837538,-0.468472,-0.425506
4,-0.678914,0.358988,-1.015792,0.207274,-0.304663,0.087551,0.553757,-0.304934,0.616203,-1.809952
5,-1.040296,0.039069,-0.028634,-0.489536,-1.256598,2.356445,-1.473016,-2.238898,0.291004,-1.721705

In [9]:
print(X[1][5])

0.03906919899359022